<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.slider').bxSlider({
        auto: true,
        pause: 5000,
      });
    });
  </script>
</head>
<main>
  <div class="shutter">
    <div class="opening"></div>
  </div>
  <div class="container-">
    <div class="row mt-5">
      <div class="col-xs-10 offset-xs-1 col-sm-6 offset-sm-3 col-md-4 offset-md-4">
        <% if @applications.present? %>
          <% @applications.each do |application| %>
            <div class="card w-60 text-center">
              <h1 class="text-center"><%= link_to application_path(application) do %><%= application.name %><% end %></h1>
              <div class="card-image-top text-center">
                <%= attachment_image_tag application, :image, format: 'jpeg', class: "iimage" %>
              </div>
            </div>
          <% end %>
        <% else %>
          <h3 class="text-danger">・表示する内容はありません。</h3>
        <% end %>
      </div>
    </div>
  </div>
</main>