<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

<script type="text/javascript">
        $(document).ready(function(){
            $('.slider').bxSlider({
                auto: true,
                pause: 5000,
            });
        });
</script>
</head>
<main>
<div class="shutter">
  <div class="opening"></div>
</div>
<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-10 offset-1">
      <div class="d-flex justify-content-between">
        <h2 class="mt-3 pb-4">製作物一覧</h2>
      </div>
      <% if @application.present? %>
      <% @applications.each do |application| %>
      <div class="card w-60 text-center">
        <h1 class="text-center"><%= link_to application_path(application) do %><%= application.name %><% end %></h1>
        <div class="card-image-top text-center">
          <%= attachment_image_tag application, :image, size:"150x150", format: 'jpeg' %>
        </div>
        <h2 class="text-center"><%= application.url %></h2>
      </div>
      <% end %>
      <% end %>
   </div>
  </div>
</div>
  </div>
</div>
</main>