/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

.icon {
  display: inline-block;
}

.shutter{
  width: 100%;
  height: 100%;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin: auto;
  background-color:#000;
  z-index:99;
  -webkit-animation: byeShutter 2.4s forwards;
  animation: byeShutter 3.5s forwards;
}

.opening {
  position: absolute;
  width: 130px;
  height: 100px;
  background-size: cover;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  margin: auto;
  background-image: image-url("logo.png");
  z-index:100;
}

@keyframes byeShutter {
70% {
  opacity: 1;
}
100% {
  display: none;
  opacity: 0;
  z-index: -1;
}
}

.card{
  margin: 2%;
}

.background_image{
  background-image: image-url("background.jpg") ;
  height: 100%;
  color: #2f4f4f;
}

.fadein {
    opacity: 0;
    animation-delay: 5s;
    animation: fadein 60s ease forwards;
}

@keyframes fadein {
    100% {  opacity: 1;}
}

iframe{
  width: 100%;
}

.header-color{
  background-color:gold;
}

.submitarea{
  height: 600px;
}

.submitbtn{
  width: 100%;
  height: 25%;
  font-size: 550%;
  margin: 1%;
}

.questionbtn{
  width: 100%;
  height: 25%;
  font-size: 500%;
  margin: 1%;
}

.form-area-size{
  width: 100%;
  height: 300px;
}

.pagination{
  color: #ffffe0;
  border-radius: 15px;     /*角を丸くする*/
  justify-content: center;
  font-size: 200%;
}

.nav-item{
  margin: 0.3%;
  white-space: nowrap;
}

.navbar{
  background-color: rgba(255,255,255,0.5);
  font-family: cursive;
  font-weight : 600;
}

.fr-margin{
  margin-left: 5%;
  margin-right: 5%;
}

footer{
  background-color: rgba(255,255,255,1);
  font-weight : 600;
  height : 100px;
  border-top: solid #EEEEEE;
  color: rgba(0,0,0,1);
}

.webtitle{
  width: 200px;
  height: 50px;
  background-size: cover;
  background-image: image-url("portfolio.png")
}

.nav-back{
  background-color:rgba(255,255,255,0.5);
}

.nav-text{
  color:gray;
  font-weight: 900;
}

.tablef th {
    padding-bottom: 0rem;
    padding-top: 1rem;
    vertical-align: bottom;
    border-top: none;
}

.tablef td{
  vertical-align: top;
  border-top: none;
}

.form-size{
  width: 70%;
}

h1{
  font-size: 2.5rem;
}

h2{
  font-size: 1.5rem;
}

h3{
  font-size: 1.2rem;
  margin-bottm: 0px;
}

h4{
  font-size: 1.1rem;
}

.form-image-size{
  width: 100%;
}

table th{
 text-align: left;
 margin: 0rem;
 padding: 0rem;
}

table td{
  text-align: right;
  margin: 0rem;
  padding: 0rem;
}

table tr{
  margin-bottom: 0px;
}

.post-size{
  width: 100%;
}

.question-size{
  width: 60%;
}

/*タブレット横置き*/
@media screen and (max-width:1024px) {
.submitarea{
  height: 450px;
}

.submitbtn{
  width: 100%;
  height: 25%;
  font-size: 2.5rem;
  margin: 1%;
}

.questionbtn{
  width: 100%;
  height: 25%;
  font-size: 2.5rem;
  margin: 1%;
}

.post-size{
  width: 400px;
  height: 100px;
}

h1{
  font-size: 2.0rem;
}

h2{
  font-size: 1.5rem;
}

h3{
  font-size: 1.2rem;
  margin-bottm: 0px;
}

h4{
  font-size: 1.1rem;
}

.pagination{
  color: #ffffe0;
  border-radius: 15px;     /*角を丸くする*/
  justify-content: center;
  font-size: 60%;
}
}

/*スマホサイズ*/
@media screen and (max-width: 425px) {
  h1 {
    font-size: 1.1rem;
  }

  h2{
    font-size: 1.0rem;
  }
  h3 {
    font-size: 0.8rem;
    font-weight: 800;
  }

  h4{
  font-size: 0.7rem;
  }

  .form-size{
    width: 100%;
  }

  iframe{
    width: 100%;
    height: 100%;
  }

.submitbtn{
  width: 320px;
  height: 25%;
  font-size: 3rem;
  margin: 1%;
  padding: 0px;
}

.questionbtn{
  width: 320px;
  height: 25%;
  font-size: 1.5rem;
  margin: 1%;
  padding: 0px;
}

.submitarea{
  height: 400px;
  text-align: center;
}

.post-size{
  width: 250px;
  margin: 1%;

}

.pagination{
  color: #ffffe0;
  border-radius: 15px;     /*角を丸くする*/
  justify-content: center;
  font-size: 5px;
}

.fadein {
    opacity: 0;
    animation-delay: 1s;
    animation: fadein 1s ease forwards;
}

.smart{
  text-align: center;
}

.webtitle{
  width: 100px;
  height: 25px;
  background-size: cover;
  background-image: image-url("portfolio.png")
}

}
